 ------
 Introduction
 ------
 ------
 ------

NSIS Maven Plugin

  The nsis-maven-plugin enables Maven integration with the NSIS tools
  so that Windows, Linux and macOS build machines can create Windows Installer executables.

* Goals Overview

  * {{{./generate-headerfile-mojo.html}nsis:generate-headerfile}} Generates a header file containing NSIS variables that represent common POM values. The resulting header file is automatically included in the NSIS script file.
  
  * {{{./make-mojo.html}nsis:make}} Compiles a NSIS script and builds a Windows executable.

  []

* Usage

  General instructions on how to use the NSIS Maven Plugin can be found on the {{{./usage.html}usage page}}.

  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our
  {{{./issue-tracking.html}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, pull requests are most welcome too. Contributors can check out the project from our
  {{{./source-repository.html}source repository}} and will find supplementary information in the
  {{{http://maven.apache.org/guides/development/guide-helping.html}guide to helping with Maven}}. 
