<document>
  <properties>
    <title>NSIS Maven Plugin</title>
  </properties>
  <body>
    <section name="NSIS Maven Plugin">
      <p>
        The NSIS Maven Plugin, utilizes the NSIS command line installer
        script compiler to generate a Windows installer executable from a
        NSIS script.
      </p>

      <p>
        Features of nsis-maven-plugin
      </p>

      <ul>
        <li>Generate a header file (<code>project.nsh</code>) containing variables from project's <code>pom.xml</code> suitable for inclusion in the main script. (see <a href="generate-headerfile-mojo.html">nsis:generate-headerfile</a> goal)</li>
        <li>Compile the NSIS script into a Windows installer executable. (See <a href="make-mojo.html">nsis:make</a> goal)</li>
        <li>Attach built installer to the build deployment plan so that the install and deploy phases of the default lifecycle can process the created file.</li>
      </ul>

      <p>
        Example flow / usage of the <code>nsis-maven-plugin</code> goals.
      </p>

      <div class="overview">
      <table border="0">
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <div class="file pom">
                <h2>Project POM</h2>
<pre>
&lt;project&gt;
  &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
  &lt;groupId&gt;<span class="groupId">org.organization.product</span>&lt;/groupId&gt;
  &lt;artifactId&gt;<span class="artifactId">my-installer</span>&lt;/artifactId&gt;
  &lt;version&gt;<span class="versionId">1.1</span>&lt;/version&gt;
  &lt;packaging&gt;pom&lt;/packaging&gt;
  ...
&lt;/project&gt;</pre>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <img class="arrow_down" alt="arrow down"
                   src="images/arrow_down.png"
                   width="50" height="58" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <div class="goal">
                <h2>Plugin Goal</h2>
                <a href="generate-project-mojo.html">nsis:generate-project</a>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <img class="arrow_down" alt="arrow down"
                   src="images/arrow_down.png"
                   width="50" height="58" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <div class="file">
                <h2>Generated File</h2>
                /target/project.nsh
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <img class="arrow_down" alt="arrow down"
                   src="images/arrow_down.png"
                   width="50" height="58" />
            </td>
          </tr>
          <tr>
            <td valign="middle" align="center">
              <div class="file">
                <h2>Script File</h2>
                setup.nsi
              </div>
            </td>
            <td valign="middle" align="center">
              <img class="arrow_right" alt="arrow right"
                   src="images/arrow_right.png"
                   width="58" height="50" />
            </td>
            <td valign="middle" align="center">
              <div class="goal">
                <h2>Plugin Goal</h2>
                <a href="make-mojo.html">nsis:make</a>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <img class="arrow_down" alt="arrow down"
                   src="images/arrow_down.png"
                   width="50" height="58" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td valign="middle" align="center">
              <div class="file">
                <h2>Build Output</h2>
                target/<span class="artifactId">my-installer</span>-<span class="versionId">1.1</span>.exe
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </section>
  </body>
</document>
